# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build

# key
.env

# global-configs
global-configs

# vscode config
.vscode

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*